CAF.Workflow/Service References/ServiceReference/WorkflowServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetWorkFlowList">
        <s:complexType />
      </s:element>
      <s:element name="GetWorkFlowListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkFlowListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkflowDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="workflowId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkflowDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkflowDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWorkflow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="workflowId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWorkflowResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateWorkflow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="workflowDocument" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWorkflowResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPostList">
        <s:complexType />
      </s:element>
      <s:element name="GetPostListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWorkFlowListSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkFlowList" />
  </wsdl:message>
  <wsdl:message name="GetWorkFlowListSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkFlowListResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkflowDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkflowDocument" />
  </wsdl:message>
  <wsdl:message name="GetWorkflowDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkflowDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkflowSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteWorkflow" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkflowSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWorkflowSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWorkflow" />
  </wsdl:message>
  <wsdl:message name="UpdateWorkflowSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostList" />
  </wsdl:message>
  <wsdl:message name="GetPostListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostListResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkFlowListHttpGetIn" />
  <wsdl:message name="GetWorkFlowListHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetWorkflowDocumentHttpGetIn">
    <wsdl:part name="workflowId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetWorkflowDocumentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkflowHttpGetIn">
    <wsdl:part name="workflowId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkflowHttpGetOut" />
  <wsdl:message name="UpdateWorkflowHttpGetIn">
    <wsdl:part name="workflowDocument" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateWorkflowHttpGetOut" />
  <wsdl:message name="GetPostListHttpGetIn" />
  <wsdl:message name="GetPostListHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetWorkFlowListHttpPostIn" />
  <wsdl:message name="GetWorkFlowListHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetWorkflowDocumentHttpPostIn">
    <wsdl:part name="workflowId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetWorkflowDocumentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkflowHttpPostIn">
    <wsdl:part name="workflowId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteWorkflowHttpPostOut" />
  <wsdl:message name="UpdateWorkflowHttpPostIn">
    <wsdl:part name="workflowDocument" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateWorkflowHttpPostOut" />
  <wsdl:message name="GetPostListHttpPostIn" />
  <wsdl:message name="GetPostListHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WorkflowSoap">
    <wsdl:operation name="GetWorkFlowList">
      <wsdl:input message="tns:GetWorkFlowListSoapIn" />
      <wsdl:output message="tns:GetWorkFlowListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowDocument">
      <wsdl:input message="tns:GetWorkflowDocumentSoapIn" />
      <wsdl:output message="tns:GetWorkflowDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkflow">
      <wsdl:input message="tns:DeleteWorkflowSoapIn" />
      <wsdl:output message="tns:DeleteWorkflowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkflow">
      <wsdl:input message="tns:UpdateWorkflowSoapIn" />
      <wsdl:output message="tns:UpdateWorkflowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostList">
      <wsdl:input message="tns:GetPostListSoapIn" />
      <wsdl:output message="tns:GetPostListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WorkflowHttpGet">
    <wsdl:operation name="GetWorkFlowList">
      <wsdl:input message="tns:GetWorkFlowListHttpGetIn" />
      <wsdl:output message="tns:GetWorkFlowListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowDocument">
      <wsdl:input message="tns:GetWorkflowDocumentHttpGetIn" />
      <wsdl:output message="tns:GetWorkflowDocumentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkflow">
      <wsdl:input message="tns:DeleteWorkflowHttpGetIn" />
      <wsdl:output message="tns:DeleteWorkflowHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkflow">
      <wsdl:input message="tns:UpdateWorkflowHttpGetIn" />
      <wsdl:output message="tns:UpdateWorkflowHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostList">
      <wsdl:input message="tns:GetPostListHttpGetIn" />
      <wsdl:output message="tns:GetPostListHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WorkflowHttpPost">
    <wsdl:operation name="GetWorkFlowList">
      <wsdl:input message="tns:GetWorkFlowListHttpPostIn" />
      <wsdl:output message="tns:GetWorkFlowListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowDocument">
      <wsdl:input message="tns:GetWorkflowDocumentHttpPostIn" />
      <wsdl:output message="tns:GetWorkflowDocumentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkflow">
      <wsdl:input message="tns:DeleteWorkflowHttpPostIn" />
      <wsdl:output message="tns:DeleteWorkflowHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkflow">
      <wsdl:input message="tns:UpdateWorkflowHttpPostIn" />
      <wsdl:output message="tns:UpdateWorkflowHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostList">
      <wsdl:input message="tns:GetPostListHttpPostIn" />
      <wsdl:output message="tns:GetPostListHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WorkflowSoap" type="tns:WorkflowSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkFlowList">
      <soap:operation soapAction="http://tempuri.org/GetWorkFlowList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowDocument">
      <soap:operation soapAction="http://tempuri.org/GetWorkflowDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkflow">
      <soap:operation soapAction="http://tempuri.org/DeleteWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkflow">
      <soap:operation soapAction="http://tempuri.org/UpdateWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostList">
      <soap:operation soapAction="http://tempuri.org/GetPostList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WorkflowSoap12" type="tns:WorkflowSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkFlowList">
      <soap12:operation soapAction="http://tempuri.org/GetWorkFlowList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowDocument">
      <soap12:operation soapAction="http://tempuri.org/GetWorkflowDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkflow">
      <soap12:operation soapAction="http://tempuri.org/DeleteWorkflow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkflow">
      <soap12:operation soapAction="http://tempuri.org/UpdateWorkflow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostList">
      <soap12:operation soapAction="http://tempuri.org/GetPostList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WorkflowHttpGet" type="tns:WorkflowHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetWorkFlowList">
      <http:operation location="/GetWorkFlowList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowDocument">
      <http:operation location="/GetWorkflowDocument" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkflow">
      <http:operation location="/DeleteWorkflow" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkflow">
      <http:operation location="/UpdateWorkflow" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPostList">
      <http:operation location="/GetPostList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WorkflowHttpPost" type="tns:WorkflowHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetWorkFlowList">
      <http:operation location="/GetWorkFlowList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowDocument">
      <http:operation location="/GetWorkflowDocument" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkflow">
      <http:operation location="/DeleteWorkflow" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkflow">
      <http:operation location="/UpdateWorkflow" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetPostList">
      <http:operation location="/GetPostList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Workflow">
    <wsdl:port name="WorkflowSoap" binding="tns:WorkflowSoap">
      <soap:address location="http://localhost:8800/WorkflowServices.asmx" />
    </wsdl:port>
    <wsdl:port name="WorkflowSoap12" binding="tns:WorkflowSoap12">
      <soap12:address location="http://localhost:8800/WorkflowServices.asmx" />
    </wsdl:port>
    <wsdl:port name="WorkflowHttpGet" binding="tns:WorkflowHttpGet">
      <http:address location="http://localhost:8800/WorkflowServices.asmx" />
    </wsdl:port>
    <wsdl:port name="WorkflowHttpPost" binding="tns:WorkflowHttpPost">
      <http:address location="http://localhost:8800/WorkflowServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>